<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Delete User</title>
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create">Create User</a>

    </div>
    <div class="form_add_new">
        <form action="/delete_user" method="post">
            <fieldset>
                <legend>Form add new Users</legend>
                <div class="input_group d-none">
                    <label>Id: </label>
                    <input type="text" name="userId" value="<%= userEdit.id%>">
                </div>
                <div class="input_group">
                    <label>email: </label>
                    <input type="text" name="email" value="<%= userEdit.email%>">
                </div>

                <div class="input_group">
                    <label>name: </label>
                    <input type="text" name="myName" value="<%= userEdit.name%>">
                </div>

                <div class="input_group">
                    <label>city: </label>
                    <input type="text" name="city" value="<%= userEdit.city%>">
                </div>
                <div>
                    <button>Confirm</button>
                </div>
            </fieldset>
        </form>
    </div>
</body>

</html>